body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-widget {
  padding-right: 8px;
}

.webclash__logo {
  float: center;
  margin: 0;
  padding: 1em 2em;
  font-size: 1.175em;
  text-transform: uppercase;
  color: rgb(255,255,255);
}

.shopping-cart {
  display: inline-block;
  background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 10px;
}

.card-block {
  padding-bottom: 10px;
}

.add-to-cart {
  padding-bottom: 10px;
}
.nav-item {
  text-align: center;
  display: flex;
}

h1, h2 {
  margin: 0;
}

.card-img-top {
  width: 25%;
}

.item {
  display: flex;
  max-width: 60rem;
  padding: 2rem 0 0;
  max-width: 25rem;
  margin: 0 auto;
}

.item-image {
  flex: 0 0 auto;
}

.item-details {
  flex: 1 1 auto;
  padding: 2rem 0 1rem 2rem;
}

.item-name {
  font-size: 1.5rem;
  padding: 0.25rem 0;
}

.item-price {
  font-size: 1.25rem;
  font-weight: normal;
  padding: 0.25rem 0;
}